Repository bstrie/enarx, changes with the labels that .github/labeler.yml gives for each.
All labels: infrastructure, backend, kvm, amd sev, intel sgx, wasm, client, testing, sallyport

.github/labeler.yml:

infrastructure:
- .github/**/*
- helper/**/*

backend:
- src/backend/**/*

kvm:
- crates/shim-kvm/**/*
- src/backend/kvm/**/*

amd sev:
- crates/shim-kvm/**/*
- src/backend/sev/**/*

intel sgx:
- crates/shim-sgx/**/*
- src/backend/sgx/**/*

wasm:
- crates/exec-wasmtime/**/*
- tests/wasm/**/*
- tests/wasmldr_tests.rs

client:
- src/cli/**/*

testing:
- tests/**/*

sallyport:
- crates/sallyport/**/*

switch shim linker to lld
  .cargo/config
  crates/shim-kvm/build.rs
  crates/shim-sgx/build.rs
Labels: kvm, amd sev, intel sgx

chore: bump sgx version
  Cargo.toml
  crates/shim-sgx/Cargo.toml
Labels: intel sgx

wip: adapt integration test
  Cargo.lock
  Cargo.toml
  tests/client/data/ca.conf
  tests/client/data/ca.crt
  tests/client/data/ca.key
  tests/client/data/ca.srl
  tests/client/data/client.conf
  tests/client/data/client.crt
  tests/client/data/client.csr
  tests/client/data/client.key
  tests/client/data/generate.sh
  tests/client/data/server.conf
  tests/client/data/server.crt
  tests/client/data/server.csr
  tests/client/data/server.key
  tests/client/mod.rs
  tests/integration.rs
Labels: testing

wip: sketch commands
  Cargo.lock
  Cargo.toml
  src/cli/user/info.rs
  src/drawbridge.rs
  src/main.rs
  tests/client/mod.rs
Labels: client, testing

wip: basic commands
  Cargo.lock
  Cargo.toml
  src/cli/package/info.rs
  src/cli/package/publish.rs
  src/cli/repo/info.rs
  src/cli/repo/register.rs
  src/cli/user/mod.rs
  src/cli/user/register.rs
  src/drawbridge.rs
  tests/client/mod.rs
  tests/client/util.rs
Labels: client, testing

wip: blocking problem
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
  src/cli/package/mod.rs
  src/cli/platform/mod.rs
  src/cli/repo/mod.rs
  src/cli/user/login.rs
  src/cli/user/mod.rs
  src/cli/user/register.rs
  src/drawbridge.rs
  tests/client/certs/ca.conf
  tests/client/certs/ca.crt
  tests/client/certs/ca.key
  tests/client/certs/ca.srl
  tests/client/certs/client.conf
  tests/client/certs/client.crt
  tests/client/certs/client.csr
  tests/client/certs/client.key
  tests/client/certs/generate.sh
  tests/client/certs/server.conf
  tests/client/certs/server.crt
  tests/client/certs/server.csr
  tests/client/certs/server.key
  tests/client/mod.rs
  tests/client/package/tEst-file..__.foo.42
  tests/client/package/test-dir-1/test-file
  tests/client/package/test-dir-1/test-file.txt
  tests/client/package/test-dir-1/test-subdir-2/test-file
  tests/client/package/test-file
  tests/client/package/test-file.json
  tests/client/package/test-file.txt
  tests/client/util.rs
Labels: client, testing

wip: pre-review
  src/cli/package/info.rs
  src/cli/package/publish.rs
  src/cli/repo/info.rs
  src/cli/repo/register.rs
  src/cli/user/info.rs
  src/cli/user/login.rs
  src/cli/user/register.rs
  src/drawbridge.rs
  tests/client/mod.rs
  tests/client/token
  tests/client/util.rs
Labels: client, testing

bindeperror5 reproduction
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
Labels: none

test(cli): integration test for `enarx user info`
  tests/client/mod.rs
Labels: testing
